.home-main-div{
  width: 100%;
}

.home-main-div> img{
  width: 100%;
}
.home-main-div2{
  width:100%;
  display: flex;
}
.home-main-div2> div{
  display: flex;
  width: 49%;
  margin: 1%;
}
.home-main-div2> div > img{
  width: 100%;
}

.main-iphone-text-div{
  width: 100%;
 margin-top: 5%;
  /* border: 1px solid red; */
  
}
.main-iphone-text-div>img{
  /* border: 1px solid blue; */
  margin-left: 45%;
  width: 150px;
}
.product-heading-top > h1{
  margin-bottom: 100px;
  color: blue;
}
.card{
  transition: all 0.5s ease;
  cursor: pointer;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0,0,0,0);
}

.product img{
  transition: all 0.5s ease;

}

.product img:hover{
  transform: scale(1.1);
}

.cart-nav-count{
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  margin-top: 1%;
  
}
/* cart */

.cart-container{
  margin-top: 10%;
  padding: 2rem 4rem;
}

.cart-container h2{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.cart-container .titles{
  margin: 2rem 0 1rem 0;
  /* border: 2px solid red; */
  /* width: 60%; */
}
.cart-container .titles h3{
  font-size: 14px;
  font-weight: bold;
  text-transform:uppercase;

}
.cart-item, .cart-container .titles{
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;

}

.cart-item{
  border-top:"1px solid black";
  /* width: 50%; */
}

.cart-container .titles .product-titles{
  padding-left: 0.5rem;
}
.cart-container .titles .total{
  padding-right:0.5rem;
  justify-self: right;
}

.cart-item .cart-product{
  display:flex;
  /* width: 20%; */
}

.cart-item .cart-product img{
  width: 100px;
  max-width: 100%;
  margin-right: 5rem;
}
.cart-item .cart-product h3{
  font-weight: bold;
}


.cart-item .cart-product button{
  border: none;
  outline: none;
  margin-top:0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover{
  color:black
}

.cart-product-quantity{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid grey;
  border-radius: 5px;
}

.cart-product-quantity button{
  border: none;
  outline: none;
  background-color: none;
  padding: 0.7rem 1.2rem;

  cursor: pointer;
}

.cart-product-quantity .count{
  padding: 0.7rem;
}
.cart-product-total-price{
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}

.cart-summary{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid grey;
  padding-top: 2rem;
}

.cart-summary .clear-cart{
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border-top: 1px solid grey;
  color:grey;
  background:none;
  outline: none;
  cursor: pointer;
}
.cart-checkout{
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout p{
  font-size: 14px;
  font-weight: 280;
  margin:0.5rem 0;

}

.cart-checkout button{
  width: 100%;
  height: 48px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  letter-spacing: 1.15px;
}
.cart-checkout button:hover{
  background-color: grey;
}

.continue-shopping, .start-shopping{
  margin-top: 1rem;
}

.continue-shopping a, .start-shopping a{
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.main-checkout {
  display: flex;
  gap:  5%;
  margin: auto;
  
}

.payment-main-div{
  
  width: 70%;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 150px;
}

.main-review-div{
  /* border: 1px solid red; */
  width: 60%;
  margin: auto;
  margin-top: 10%;
}